In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
%matplotlib inline

In [40]:
bank = pd.read_csv("C:\\Users\\Nik\\Downloads\\bank-full.csv")

In [41]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [42]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [43]:
bank.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [44]:
#some of the encoder can not able to create realtion ship with categorical type target , so here i m using
#custom fuction to make the 
#the target as integer 
#target is labeled as integer then no need to do this transformation 

def find_category_mappings(df, variable):
    return {k: i for i, k in enumerate(df[variable].unique(), 0)}

def integer_encode(data,  variable, ordinal_mapping):

    data[variable] = data[variable].map(ordinal_mapping)
#we can do lik this also but according to method use one 1)binary 2)nominal 3)odinal
#bank['y']=bank['y'].map({'yes':1,'no':0})

In [46]:
for variable in ['y']:
    mappings = find_category_mappings(bank, variable)
    integer_encode(bank, variable, mappings)

In [47]:
bank.drop(labels=['job', 'marital', 'education', 'default','housing',
       'loan', 'contact', 'month','poutcome'], axis=1,inplace=True)

In [48]:
bank.head()

   age  balance  day  duration  campaign  pdays  previous  y
0   58     2143    5       261         1     -1         0  0
1   44       29    5       151         1     -1         0  0
2   33        2    5        76         1     -1         0  0
3   47     1506    5        92         1     -1         0  0
4   33        1    5       198         1     -1         0  0

In [49]:
# Let's divide into train and test set

X_train, X_test, y_train, y_test = train_test_split(
    bank.drop(labels='y', axis=1),  # predictors
    bank['y'],  # target
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

((31647, 7), (13564, 7))

In [50]:
# the scaler - for standardisation
from sklearn.preprocessing import StandardScaler

In [51]:
# standardisation: with the StandardScaler from sklearn

# set up the scaler
scaler = StandardScaler()
# fit the scaler to the train set, it will learn the parameters

scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [52]:
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

## logistic regression

In [53]:
def run_logistic(X_train, X_test, y_train, y_test):

    # function to train and test the performance of logistic regression
    logit = LogisticRegression(random_state=44, C=0.01)
    logit.fit(X_train, y_train)

    print('Train set')
    pred = logit.predict_proba(X_train)
    print(
        'Logistic Regression roc-auc: {}'.format(roc_auc_score(y_train, pred[:, 1])))

    print('Test set')
    pred = logit.predict_proba(X_test)
    print(
        'Logistic Regression roc-auc: {}'.format(roc_auc_score(y_test, pred[:, 1])))

In [54]:
run_logistic(X_train_scaled, X_test_scaled, y_train, y_test)

Train set
Logistic Regression roc-auc: 0.833659179358437
Test set
Logistic Regression roc-auc: 0.8259413097209588

C:\Users\Nik\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [55]:
bank

       age  balance  day  duration  campaign  pdays  previous  y
0       58     2143    5       261         1     -1         0  0
1       44       29    5       151         1     -1         0  0
2       33        2    5        76         1     -1         0  0
3       47     1506    5        92         1     -1         0  0
4       33        1    5       198         1     -1         0  0
...    ...      ...  ...       ...       ...    ...       ... ..
45206   51      825   17       977         3     -1         0  1
45207   71     1729   17       456         2     -1         0  1
45208   72     5715   17      1127         5    184         3  1
45209   57      668   17       508         4     -1         0  0
45210   37     2971   17       361         2    188        11  0

[45211 rows x 8 columns]